.Upload {
    background-color: #B8DFF0;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 4%;
    font-family: 'Poppins', sans-serif;
}

.head {
    text-align: center;
    font-size: 53px;
    color: rgb(37, 67, 88);  
     
}

.uform {
    font-size: 20px;
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 25%;
    padding-bottom: 19px;

}

.btt {
    margin-top: 8%;
    padding-left: 45%;
    
   
   
}